* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*Landing Section*/
.landing-div {
  width: 100vw;
  background-image: url("./images/bg-hero-desktop.svg");
  background-color: #edfbfe;
  display: flex;
  flex-direction: column;
  padding-bottom: 3vh;
}

.main {
  width: 100vw;
  display: flex;
}

.navbar {
  display: grid;
  grid-template-columns: 20vw 25vw 18vw 27vw;
  padding: 5vw 8vh;
}
.logo {
  width: 100%;
  padding-top: 1vh;
}

.nav-btn {
  width: 60%;
  align-self: center;
  justify-self: end;
  grid-area: 1/4;
  background-color: #fff;
  font-family: "Open Sans", "sans-serif";
  font-weight: 700;
  border-style: none;
  box-shadow: 0 2px 5px 2px #e0ebee;
  border-radius: 20px;
  padding: 2vh 0.6vw;
  font-size: 14px;
}

.landing-text {
  width: 50vw;
  padding: 8vh 5.5vw 4.3vh 5.5vw;
}

.landing-head {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.landing-para {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.landing-pink-btn {
  background-color: #fe52c0;
  color: #fff;
  font-family: "Open Sans", "sans-serif";
  padding: 2vh 5vw;
  border-radius: 30px;
  border-style: none;
  margin-top: 5vh;
}

.landing-img-div {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-img {
  width: 85%;
}

/*Features section*/
#features-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 0 18vh 0;
  position: relative;
}

.feature {
  display: flex;
  width: 90vw;
  box-shadow: 0 2px 5px 2px #e0ebee;
  border-radius: 3vw;
  padding: 8vh 0;
  background-color: #fff;
}

.f1 {
  margin: 5vh 0 3vh 0;
}

.f2 {
  margin: 3vh 0 3vh 0;
}

.f3 {
  margin: 3vh 0 5vh 0;
}

.feature-img-div,
.feature-text {
  width: 50%;
}

.feature-img-div,
.ft1,
.ft3 {
  padding: 0 5vw;
}

.ft2 {
  padding-left: 6vw;
  padding-right: 3vw;
}

.feature-img {
  width: 80%;
}

.fid1,
.fid3 {
  display: flex;
  justify-content: flex-end;
}

.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-text h2 {
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
}

.feature-text p {
  font-family: "Open Sans", "sans-serif";
  color: #868789;
}

.feature-last {
  position: absolute;
  bottom: -10vh;
  background-color: #fff;
  box-shadow: 0 -2px 5px #e0ebee;
  padding: 5vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
}

.feature-last h2 {
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
}

@media only screen and (max-width: 425px) {
  .landing-div {
    background-image: url("./images/bg-hero-mobile.svg");
  }

  .navbar {
    display: grid;
    grid-template-columns: 20vw 27vw 7vw 40vw;
    padding: 5vw 3vh 1vw 3vh;
  }

  .nav-btn,
  .logo {
    align-self: center;
    justify-self: center;
  }
  .nav-btn {
    width: 80%;
    font-size: 10px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .landing-text,
  .landing-img-div {
    width: 100vw;
  }

  .landing-text {
    text-align: center;
    padding: 10.53vh 7vw 4.3vh 7vw;
  }

  .landing-head {
    padding-bottom: 2vh;
  }

  .f1,
  .f2,
  .f3 {
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .f1,
  .f3 {
    flex-direction: column-reverse;
  }

  .feature-text,
  .feature-img {
    padding: 0;
  }

  .feature-text {
    width: 95%;
    padding: 1vw;
  }

  .feature-img-div {
    width: 100%;
    justify-content: center;
  }

  .feature-img-div {
    padding: 3vh 0 8vh 0;
  }

  .feature-text p {
    padding: 3vw 10vw;
  }

  .feature-last {
    position: absolute;
    bottom: -25vh;
    background-color: #fff;
    box-shadow: 0 -2px 5px #e0ebee;
    padding: 5vh 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;
    text-align: center;
    margin: 5vw;
  }
}

@media only screen and (min-width: 1440px) {
  .landing-head {
    font-size: 30px;
  }
  .landing-para {
    font-size: 20px;
  }
}

.contact-div {
  width: 100vw;
  height: 30vh;
  background-color: #00252e;
}
